services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aircraft-api
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    working_dir: /app
    command: go run ./cmd/api
