services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aircraft-api
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    working_dir: /app
    environment:
      GOOSE_DRIVER:
      GOOSE_DBSTRING: 
      GOOSE_MIGRATION_DIR: "./database/migrations"
    command: go run ./cmd/api
